.user-data-wrapper {
	width: 100vw;
	height: auto;
	background: #b0b0b0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-data {
	margin: 2rem;
    padding: 2rem;

    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.user-data th {
	padding: 0.5rem;
	text-align: left;
	border-bottom: 1px solid #000;
}
.user-data td {
	padding: 0.5rem;
	text-align: left;
}

button {
	margin-top: 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	background: var(--button-color);
	color: black;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
	text-decoration: none;
	align-self: center;
}